  @{
    ViewData["Title"] = "Treinamentos";
}

    <h1>Conteúdo</h1>
    <hr>
    <button>ADICIONAR</button>
    <div class="Modulos">
        <h1>MÓDULO 1 - LOREM IPSUM</h1>
        <div class="Botoes">

            <div class="conteudo">
                <button>
                    <img src="Group 4.png" alt="">
                    <label for="">CONTEÚDO</label>
                </button>
            </div>

            <div class="editar">
                <button>
                    <img src="Group 17 (1).png" alt="">
                </button>
            </div>

            <div class="excluir">
                <button>
                    <img src="Group 16 (1).png" alt="">
                </button>
            </div>
        </div>
        <div class="selecionar">
            <label for="">
                <input type="checkbox" name="selecionar_modulo" id="modulo_label"> 1. Lorem Ipsum
            </label>
        </div>
    </div>

    <div class="Modulos">
        <h1>MÓDULO 2 - LOREM IPSUM</h1>
        <div class="Botoes">

            <div class="conteudo">
                <button>
                    <img src="Group 4.png" alt="">
                    <label for="">CONTEÚDO</label>
                </button>
            </div>

            <div class="editar">
                <button>
                    <img src="Group 17 (1).png" alt="">
                </button>
            </div>

            <div class="excluir">
                <button>
                    <img src="Group 16 (1).png" alt="">
                </button>
            </div>
        </div>
        <div class="selecionar">
            <label for="">
                <input type="checkbox" name="selecionar_modulo" id="modulo_label"> 1. Lorem Ipsum
            </label>
        </div>

    </div>

    <div class="Modulos">
        <h1>MÓDULO 3 - LOREM IPSUM</h1>
        <div class="Botoes">

            <div class="conteudo">
                <button>
                    <img src="Group 4.png" alt="">
                    <label>CONTEÚDO</label>
                </button>
            </div>

            <div class="editar">
                <button>
                    <img src="Group 17 (1).png" alt="">
                </button>
            </div>

            <div class="excluir">
                <button>
                    <img src="Group 16 (1).png" alt="">
                </button>
            </div>
        </div>
        <div class="selecionar">
            <label for="">
                <input type="checkbox" name="selecionar_modulo" id="modulo_label"> 1. Lorem Ipsum
            </label>
        </div>

    </div>