<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Trainee Hub</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style-menu.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style-modulos.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style-perfil.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style-login.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style-aula.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <script src="~/js/site.js"></script>
</head>
<body>
<header class="cabecalho">
    <div class="headerbar">
        <div class="headerbar-conteudo">
            <div class="off-screen-menu">
                <ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-area="" asp-controller="Admin" asp-action="Index"><li>Menu</li></a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Index"><li>Menu</li></a>
                    }
                    <li>Sobre</li>
                    <li>Contato</li>
                </ul>
            </div>
            <div class="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <div class="logos">
                <div class="logo-empresa">
                    <img src="~/images/LOGO EMPRESA.png">
                </div>
                <div class="retangulo"></div>
                <div class="logo-trainee">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/TRAINEEHUBLOGO.png">
                    </a>
                </div>
            </div>
            <div class="perfil">
                <div class="icone-perfil">
                    <a asp-area="" asp-controller="@(User.IsInRole("2") ? "Admin" : "Home")" asp-action="Perfil">
                        <img src="~/images/IconePerfil.png">
                    </a>
                </div>    
            </div>
        </div>
    </div>
</header>
<div class="overlay"></div>

    <div class="body">
        @RenderBody()
    </div>
    <!--RODAPÉ-->
<footer class="rodape">
    
    <div class="rodape-direitos">
        <div class="traineelogo">
            <img src="~/images/TRAINEEHUBLOGO.png" id="logo-rodape">
        </div>
    
        <div class="copyright">
            <p>Copyright © 2025 - Todos os direitos reservados</p>
        </div>
    
        <div class="privacy-policy">
            <p><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
        </div>
    </div>

</footer>

</body>
</html>
