.user-photo img{
    height: 400px; 
}

.container-body{
    display: grid; /* Define o layout como Grid */
    grid-template-columns: 1fr 1fr; /* Duas colunas com tamanho igual */
    grid-template-rows: auto auto;
    gap: 20px; /* Espaço entre as colunas */
    margin-left: 160px; /* Ajuste conforme necessário */
    margin-top: 70px; /* Ajuste conforme necessário */
    margin-right: 160px;
}

.container-photo{
    grid-column: 1 / 2;
}

.container-info{  
    grid-column: 2 / 3;
}
.container-treinamento{
    grid-column: 1 / 3;
}

.bloco_treinamento {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
    gap: 40px; /* Espaço entre os itens */
    padding: 0;
    list-style: none;
}

/* Faz os itens ocuparem o espaço máximo disponível dentro de cada célula */
.list-andamento {
    width: 100%;
}