.accordion {
    display: grid;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50rem;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Adicione uma cor de fundo ao botão se ele receber clique (adicione a classe .active com JS) e quando você passar o mouse sobre ele (hover) */
.active-accordion, .accordion:hover {
    background-color: #ccc;
}

/* Estilize o painel accordion. Nota: oculto por padrão */
.painel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode (-) */
}


.video-info{
    width: 80rem;
    display: grid;
}
.video{
    background-color: #444;
    width: 80rem;
    min-height: 45rem;
}

.container-aula{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 100px; /* Ajuste conforme necessário */
    margin-top: 40px; /* Ajuste conforme necessário */
    margin-right: 10px;
}