@model Usuarios

@{
    ViewData["Title"] = "Login";
}
<style>
    header{display: display;}
    .headerbar-conteudo{display: none;}
    body {
        background-color: #4D83AA; /* Cor padrão */
    }
    
</style>


<div id="Login_Tela" class="tela-de-login">
    <h2>LOGIN</h2>

    <form asp-action="Login" asp-controller="Home" method="post">
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="alert alert-danger">
                @ViewData["ErrorMessage"]
            </div>
        }

        <div class="informacoes">
            <label asp-for="IdEmpresa">Empresa</label>
            <input asp-for="IdEmpresa" id="Nome" placeholder="Digite o nome da empresa" required />
            
            <label asp-for="Matricula">Matrícula</label>
            <input asp-for="Matricula" id="matricula" placeholder="Digite sua matrícula" required />
            
            <label asp-for="Senha">Senha</label>
            <input asp-for="Senha" type="password" id="senha" placeholder="Digite sua senha" required />
        </div>

        <div class="lembrar-esqueci">
            <label>
                <input type="checkbox" class="lembrar-esqueci" /> Lembrar de mim
            </label>
            <a href="#">Esqueceu sua senha?</a>
        </div>

        <div class="enviar-formulario">  
            <button type="submit">ENTRAR</button>
        </div>
    </form>  

    <p class="solicitar-acesso">Não tem acesso? <a href="#">Solicite</a></p>
</div>
<div class="logo-empresas">
    <div class="LogoTRAINEE">
        <img src="~/images/TraineeHUBLOGO.png">
    </div>
</div>
  