@{
    ViewData["Title"] = "Login";
}
<style>
    header{display: display;}
    .headerbar-conteudo{display: none;}
    body {
        background-color: #4D83AA; /* Cor padrão */
    }
    
</style>

<div id="Login_Tela" class="tela-de-login">
    <h2>LOGIN</h2>
    <form action="#" method="post">
    <div class="informacoes">
        <label for="matricula">Matrícula</label>
        <input type="text" id="matricula" placeholder="">

        <label for="senha">Senha</label>
        <input type="password" id="senha" placeholder="">
    </div>
    </form>

    <div class="lembrar-esqueci">
        <label>
            <input type="checkbox" class="lembrar-esqueci"> Lembrar de mim
        </label>
        <a href="#">Esqueceu sua senha?</a>
    </div>
    <form action="/Home/Index" method="post">
    <div class="enviar-formulario">  
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <button for="enviar">ENTRAR</button>
        </a>
        
    </div>
    </form>  
    <p class="solicitar-acesso">Não tem acesso? <a href="#">Solicite</a></p>
</div>
<div class="logo-empresas">

    <div class="LogoEMPRESA">
        <img src="~/images/LOGO EMPRESA.png">
    </div>

    <div class="RetanguloDIVISOR"></div>

    <div class="LogoTRAINEE">
        <img src="~/images/TraineeHUBLOGO.png">
    </div>
    
</div>