@{
    ViewData["Title"] = "Login";
}
@model Projeto_Trainee_Hub.ViewModel.LoginViewModel

<style>
    header{display: display;}
    .headerbar-conteudo{display: none;}
    body {
        background-color: #4D83AA; /* Cor padrão */
    }
    
</style>


<div class="container_login">
    <div class="logo__traineehub">
        <img class="filter-white" src="~/images/logo-traineehub.svg" style="width:clamp(35rem,80%,60rem)">
    </div>
    <div id="Login_Tela" class="tela-de-login">
    <h2>LOGIN</h2>
        
        <form asp-action="Login" asp-controller="Home" method="post">
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
            {
                <div class="alert alert-danger">
                    @ViewData["ErrorMessage"]
                </div>
            }

            <div class="informacoes">
                <div class="empresa">
                    <div class="empresa-label" style="display: flex; align-items: center">
                    <i class="fa fa-building" style="height: 10px; margin-bottom: 7px;"></i>
                        <label>&nbsp;Empresa</label>
                    </div>
                    <input asp-for="IdEmpresa" id="Nome" placeholder="Digite o nome da empresa" required />
                </div>
                <div class="matricula">
                    <div class="matricula-label" style="display: flex; align-items: center">
                        <i class="fa fa-user" style="height: 10px; margin-bottom: 7px;"></i>
                        <label>&nbsp;Matrícula</label>
                    </div>
                    <input asp-for="Matricula" id="matricula" placeholder="Digite sua matrícula" required />
                </div>
                <div class="senha">
                    <div class="senha-label" style="display: flex; align-items: center;">
                        <i class="fa fa-lock" style="height: 10px; margin-bottom: 7px;"></i>
                        <label>&nbsp;Senha</label>
                    </div>
                    <div style="position: relative;">
                        <input asp-for="Senha" type="password" id="senha" placeholder="Digite sua senha" required style="padding-right: 35px;">
                    
                        <span><i id="toggler" class="far fa-eye" 
                                style="position: absolute; top: 35%; right: 80px; transform: translateY(-50%); cursor: pointer;">
                        </i></span>
                    </div>
                </div>
            </div>

            <div class="lembrar-esqueci">
                <label>
                    <input type="checkbox" asp-for="LembrarMe"class="lembrar-esqueci"> Lembrar de mim
                </label>
                <a href="#">Esqueceu sua senha?</a>
            </div>

            <div class="enviar-formulario">  
                <button type="submit">ENTRAR</button>
            </div>
        </form>
        <p class="solicitar-acesso">Não tem acesso? <a href="#">Solicite</a></p>
    </div> 
</div>

    @section Scripts {
            <script>
                const senha = document.getElementById("senha");
                const toggler = document.getElementById("toggleSenha");

                if (senha && toggler) {
                  toggler.addEventListener("click", () => {
                    if (senha.type === "password") {
                      senha.type = "text";
                      toggler.classList.remove("fa-eye");
                      toggler.classList.add("fa-eye-slash");
                    } else {
                      senha.type = "password";
                      toggler.classList.remove("fa-eye-slash");
                      toggler.classList.add("fa-eye");
                    }
                  });
                }
    </script>
}
