@{
    ViewData["Title"] = "Login";
}


<div id="Login_Tela" class="tela-de-login">
    <h2>LOGIN</h2>
    <form action="#" method="post">
    <div class="informacoes">
        <label for="matricula">Matrícula</label>
        <input type="text" id="matricula" placeholder="">

        <label for="senha">Senha</label>
        <input type="password" id="senha" placeholder="">
    </div>
    </form>

    <div class="lembrar-esqueci">
        <label>
            <input type="checkbox"> Lembrar de mim
        </label>
        <a href="#">Esqueceu sua senha?</a>
    </div>
    <form action="#" method="post">
    <div class="enviar-formulario">  
        <button for="enviar">ENTRAR</button>
    </div>
    </form>  
    <p class="solicitar-acesso">Não tem acesso? <a href="#">Solicite</a></p>
</div>
<div class="logo-empresas">

    <div class="LogoEMPRESA">
        <img src="LOGO EMPRESA.png">
    </div>

    <div class="RetanguloDIVISOR"></div>

    <div class="LogoTRAINEE">
        <img src="TraineeHUBLOGO.png">
    </div>
    
</div>