@{
    ViewData["Title"] = "Perfil";
}

<div class="container-body">
    <div class="container-photo">
        <div class="user-photo">
            <img src="~/images/IconePerfil(2).png">
            <button class="EditarPerfil" type="button">Editar Perfil</button>
        </div>
    </div>
    <div class="container-info">
        <div class="user-info">
            <div class="nome">
                <h3>Nome</h3>
                <label>lorem ipsum</label>
            </div>
            <div class="email">
                <h3>Email</h3>
                <label>lorem ipsum</label>
            </div>
            <div class="matricula">
                <h3>Matrícula</h3>
                <label>lorem ipsum</label>
            </div>
            <div class="setor">
                <h3>Setor</h3>
                <label>lorem ipsum</label>
            </div>
            <div class="treinamentos-concluidos">
                <h3>Treinamentos Concluídos</h3>
                <label>0</label>
            </div>
        </div>
    </div>
    <div class="container-treinamento">
        <h1>TREINAMENTOS</h1>
        <ul class="bloco_treinamento">
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="100"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="10"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="100"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="50"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="50"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="50"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>