.user-photo img{
    max-width: 70%;
    max-height: 70%;
}

.container-body{
    display: grid; /* Define o layout como Grid */
    grid-template-columns: 1fr 1fr; /* Duas colunas com tamanho igual */
    grid-template-rows: auto auto;
    gap: 20px; /* Espaço entre as colunas */
    margin-left: 160px; /* Ajuste conforme necessário */
    margin-top: 70px; /* Ajuste conforme necessário */
    margin-right: 160px;
}

.container-photo{
    grid-column: 1 / 2;
}

.container-info{  
    grid-column: 2 / 3;
}
.container-treinamento{
    grid-column: 1 / 3;
    margin-top: 50px;
    border-top: 1px solid #4D83AA;
}

.bloco_treinamento {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
    gap: 40px; /* Espaço entre os itens */
    padding: 0;
    list-style: none;
}

/* Faz os itens ocuparem o espaço máximo disponível dentro de cada célula */
.list-andamento {
    width: 100%;
}

.container-treinamento h1{
    color: #4D83AA;
    font-family: 'Inter', bold;
    margin-bottom: 30px;
}

.container-info h3{
    color: #4D83AA;
    font-family: 'Inter', bold;
    margin-bottom: 30px;
}

.EditarPerfil{
    position: relative;
    background-color: #547A95;
    color: #D9D9D9;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', bold;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    width: 450px;

}