/* Fundo escuro da modal */
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

.modal-treinamento::-webkit-scrollbar {
    width: 8px; /* Largura da scrollbar */
}

/* Cor de fundo da barra de rolagem */
.modal-treinamento::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cinza claro */
    border-radius: 10px;
}

/* Cor da barra de rolagem */
.modal-treinamento::-webkit-scrollbar-thumb {
    background: #6f93f6;
    border-radius: 10px;
}

/* Efeito ao passar o mouse */
.modal-treinamento::-webkit-scrollbar-thumb:hover {
    background: #275df1; /* Azul mais escuro */
}
.titulo-modal {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', bold;
    color: #25445a;
    margin-bottom: 20px;
    border-bottom: 1px solid #25445a;
}

.modal-treinamento {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-height: 95%; 
    display: flex;
    flex-direction: column; /* Mantém o layout em coluna */
    overflow-y: auto; /* Permite rolagem interna */
}

/* Torna a modal visível */
.modal.active {
    display: flex;
}

/* Animação ao abrir */
@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.input-nome {
    min-height: 15px;
    width: 95%;
    margin-bottom: 20px;
    resize: none;
    outline: none;
    border: 1px solid #ececec;
    border-radius: 6px;
    font-size: 14px;
    padding: 10px 10px 10px 14px;
    font-weight: 400;
    background: #f3f3f3;
}

.input-instrutor input{
    min-height: 15px;
    width: 95%;
    margin-bottom: 20px;
    resize: none;
    outline: none;
    border: 1px solid #ececec;
    border-radius: 6px;
    font-size: 14px;
    padding: 10px 10px 10px 14px;
    font-weight: 400;
    background: #f3f3f3;
}
textarea {
    min-height: 140px;
    width: 95%;
    resize: none;
    outline: none;
    border: 1px solid #ececec;
    border-radius: 6px;
    font-size: 14px;

    font-family: 'Inter', serif;
    padding: 10px 10px 10px 14px;
    font-weight: 400;
    background: #f3f3f3;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    gap: 10px;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.btnAddTreinamento,
.btnClose{
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    transition: all 0.3s ease;
    font-size: 14px;
}



label {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', bold;
    color: #25445a;
    display: block;
}

.btnAddTreinamento{
    background: #6f93f6;
}
.btnClose {
    background: #f082ac
}

.btnClose:hover {
    background: #ec5f95;
}

.btnAddTreinamento:hover {
    background: #275df1;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    height: 300px;
    padding: 50px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #cccccc;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    color:#25445a;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type="file"] {
    font-family: "Inter", sans-serif;
    font-size: 14px;

}

input[type="date"] {
    background-color: #f3f3f3;
    padding: 5px;
    font-family: "Inter", sans-serif;
    color: #444;
    border: 5px solid #000000;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
    /* Garante que os inputs fiquem em colunas */
    margin: 10px 0;
    /* Adiciona espaçamento entre eles */

}

.container-data {
    margin-top: 10px;
    margin-bottom: 20px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.container-datafim,
.container-datainicio {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}
