

.tela-de-login {
    background-color: #ffffff;
    text-align: center;
    width: 450px;
    height: 520px;
    border-radius: 20px;
    position: relative;
    left: 60%;
    top:  5%;
    z-index: 20;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.tela-de-login h2 {
    padding-top: 70px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.tela-de-login .informacoes label{
    display:block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-left: 85px;
    position:relative;
    width: 50vh;
    text-align: left;
}
.tela-de-login input {
    width: 70%;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #F2F2F2;
    margin-bottom: 15px;
}
.tela-de-login .lembrar-esqueci input{
    width: 30px;
}
.lembrar-esqueci {
    display: flex;
    align-items: center;
    position: relative;
    gap: 50px;
    margin-left: 75px;
    font-size: 12px;
}
.lembrar-esqueci label {
    display: flex;
    align-items: center;
}
.lembrar-esqueci input {
    margin: 5px;
    scale: 0.7;
}

.lembrar-esqueci a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-bottom: 5px;
}

.tela-de-login button {
    width: 60%;
    background-color: #2c5376;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.solicitar-acesso {
    font-size: 12px;
    margin-top: 15px;
}

.solicitar-acesso a {
    text-decoration: none;
    font-weight: bold;
    color: #007BFF;
}
.logo-empresas {
    display: flex;
    position: absolute;
    left: 30vh;
    top: 37vh;
}
.logo-empresas img {
    height: 160px;
}
.RetanguloDIVISOR {
    background-color: rgba(255, 255, 255, 0.795);
    height: 160px;
    width: 5px;
}

.logo-empresas .LogoTRAINEE img{
    margin-left: 25px;
}

.logo-empresas .LogoEMPRESA img{
    margin-right: 25px;
}