@model Usuarios
@using System.Security.Claims;
@using Projeto_Trainee_Hub.Controllers;
@{
    ViewData["Title"] = "Menu";
}

<div class="container__main mt-20 flex justify-center gap-[6vw]">
    <div class="container__column gap-10 flex md:flex-col">
        
    <!-- HISTÓRICO DE TREINAMENTOS-->
        <div class="container__historico w-9xl">
             <div class="title flex content-center">
                <i class="ri-file-history-line text-5xl"></i>
                <h2 class="text-6xl text-neutral-600">Histórico de Treinamentos</h2>
            </div>
            <div class="container__carousel">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ul>
                <!-- Wrapper for slides -->
                
                <div class="carousel-inner">

                    <div class="item active">
                        <a asp-area="" asp-controller="Usuario" asp-action="Aula" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                            <img class="w-fit" src="~/images/OIP.jpeg">
                            <div class="carousel-caption">
                                <h3>Treinamento de Compliance</h3>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a asp-area="" asp-controller="Usuario" asp-action="Aula" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                            <div class="carousel-caption">
                                <h3>Treinamento de RN-11</h3>
                            </div>
                            <img class="w-fit"src="~/images/image 1.png">
                        </a>
                    </div>
                    
                    <div class="item">
                        <a asp-area="" asp-controller="Usuario" asp-action="Aula">
                            <img class="w-fit" src="~/images/image 2.png">
                            <div class="carousel-caption">
                                <h3>Treinamento de Código de Conduta e Ética</h3>
                            </div>
                        </a> 
                    </div>
                </div>

                <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!--TREINAMENTOS EM ANDAMENTO-->
        <div class="container__andamento flex flex-wrap">
            <div class="row__andamento">
                <div class="title flex content-center">
                    <i class="ri-loader-4-line text-5xl"></i>
                    <h2 class="text-6xl text-neutral-600">Em Andamento</h2>
                </div>
                <div class="block__content gap-10 flex flex-wrap">
                    <div class="item__card w-[360px] p-5 border-solid border-1 rounded-xl  shadow-lg shadow-cyan-800/50 border-cyan-500">
                        <div class="image__card max-w-3xs max-h-3xs">
                            <img class="rounded-xl" src="~/images/OIP.jpeg" alt="">
                        </div>
                        <div class="title__card text-bold text-4xl py-6">
                            Titulo do Card
                        </div>
                        <div class="info__card mb-3 text-cyan-950 max-w-3xs line-clamp-3 hover:">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, earum. Tempore, sunt perferendis architecto rem adipisci deserunt neque quas praesentium quos ea odio labore temporibus consequuntur eveniet tenetur cupiditate molestias!</span>
                        </div>
                        <div class="date__card">
                            <i class="ri-time-line"></i>
                            <span>00/00/0000</span>
                        </div>
                    </div>   
                    <div class="item__card w-[360px] p-5 border-solid border-1 rounded-xl  shadow-lg shadow-cyan-800/50 border-cyan-500">
                        <div class="image__card max-w-3xs max-h-3xs">
                            <img class="rounded-xl" src="~/images/OIP.jpeg" alt="">
                        </div>
                        <div class="title__card text-bold text-4xl py-6">
                            Titulo do Card
                        </div>
                        <div class="info__card mb-3 text-cyan-950 max-w-3xs line-clamp-3 hover:">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, earum. Tempore, sunt perferendis architecto rem adipisci deserunt neque quas praesentium quos ea odio labore temporibus consequuntur eveniet tenetur cupiditate molestias!</span>
                        </div>
                        <div class="date__card">
                            <i class="ri-time-line"></i>
                            <span>00/00/0000</span>
                        </div>
                    </div>   
               </div>
            </div>
        </div>
    </div>
    <!--TREINAMENTOS PENDENTES-->
    <div class="container__column flex flex-col gap-20">
        <div class="container__pendentes">
            <div class="row__pendentes">
                <div class="title flex content-center">
                    <i class="ri-hourglass-line text-6xl"></i>
                    <h2 class="text-6xl text-neutral-600">Pendentes</h2>
                </div>
                <div class="block__content">
                    <div class="item__card w-[360px] p-5 border-solid border-1 rounded-xl  shadow-lg shadow-cyan-800/50 border-cyan-500">
                        <div class="image__card max-w-3xs max-h-3xs">
                            <img class="rounded-xl" src="~/images/OIP.jpeg" alt="">
                        </div>
                        <div class="title__card text-bold text-4xl py-6">
                            Titulo do Card
                        </div>
                        <div class="info__card mb-3 text-cyan-950 max-w-3xs line-clamp-3 hover:">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, earum. Tempore, sunt perferendis architecto rem adipisci deserunt neque quas praesentium quos ea odio labore temporibus consequuntur eveniet tenetur cupiditate molestias!</span>
                        </div>
                        <div class="date__card">
                            <i class="ri-time-line"></i>
                            <span>00/00/0000</span>
                        </div>
                    </div>   
                    <div class="item__card w-[360px] p-5 border-solid border-1 rounded-xl  shadow-lg shadow-cyan-800/50 border-cyan-500">
                        <div class="image__card max-w-3xs max-h-3xs">
                            <img class="rounded-xl" src="~/images/OIP.jpeg" alt="">
                        </div>
                        <div class="title__card text-bold text-4xl py-6">
                            Titulo do Card
                        </div>
                        <div class="info__card mb-3 text-cyan-950 max-w-3xs line-clamp-3 hover:">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, earum. Tempore, sunt perferendis architecto rem adipisci deserunt neque quas praesentium quos ea odio labore temporibus consequuntur eveniet tenetur cupiditate molestias!</span>
                        </div>
                        <div class="date__card">
                            <i class="ri-time-line"></i>
                            <span>00/00/0000</span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    
        <!--TREINAMENTOS FUTUROS-->
        <div class="container__futuro mb-20">
            <div class="row__futuro">
                <div class="title flex content-center">
                    <i class="ri-time-line text-6xl"></i>
                    <h2 class="text-6xl text-neutral-600">Futuros</h2>
                </div>
                <div class="block__content">
                    <div class="item__card w-[360px] p-5 border-solid border-1 rounded-xl  shadow-lg shadow-cyan-800/50 border-cyan-500">
                        <div class="image__card max-w-3xs max-h-3xs">
                            <img class="rounded-xl" src="~/images/OIP.jpeg" alt="">
                        </div>
                        <div class="title__card text-bold text-4xl py-6">
                            Titulo do Card
                        </div>
                        <div class="info__card mb-3 text-cyan-950 max-w-3xs line-clamp-3 hover:">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, earum. Tempore, sunt perferendis architecto rem adipisci deserunt neque quas praesentium quos ea odio labore temporibus consequuntur eveniet tenetur cupiditate molestias!</span>
                        </div>
                        <div class="date__card">
                            <i class="ri-time-line"></i>
                            <span>00/00/0000</span>
                        </div>
                    </div>   
                    
                </div>
            </div>
        </div>
    </div>
